@use "@styles/settings" as *;

.bl_detailFoot_inner {
  padding-block: 120px;

  @include breakpoint-up(md) {
    padding-block: 120px 90px;
  }
}

.bl_detailFoot_head {
  @include breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.bl_detailFoot_title {
  font-size: rem(24);
  font-weight: 500;

  @include breakpoint-up(md) {
    font-size: rem(34);
  }

  > span {
    display: block;
    margin-top: 8px;
    font-size: rem(18);
    font-weight: 300;

    @include breakpoint-up(md) {
      display: inline-block;
      margin: 0 0 0 10px;
      font-size: rem(20);
    }
  }
}

.bl_detailFoot_more {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;

  @include breakpoint-up(md) {
    margin-top: 0;
  }
}

:where(.bl_detailFoot_more) {
  .bl_linkBtn {
    padding: 6px 14px;
    min-height: 40px;
    font-size: rem(13);
    background-color: transparent;

    @include breakpoint-up(md) {
      padding: 8px 20px;
      min-height: 58px;
      font-size: rem(14);
      background-color: var(--color-white);
    }
  }

  .bl_linkBtn_title {
    transform: translateY(1px);
  }
}

.bl_detailFoot_body {
  position: relative;
  margin-top: 40px;

  @include breakpoint-up(md) {
    margin-top: 60px;
  }
}

:where(.bl_detailFoot_body) {
  .swiper {
    &::before {
      background-image: linear-gradient(
        to left,
        #f3f3f3 0, #f3f3f3 3px, transparent 100%
      );
    }
  }

  .swiper-slide {
    width: 298px;
  }
}