@use "@styles/settings" as *;

.el_fadeUp {
  transform: translateY(30px);
  opacity: 0;
  transition: transform 2.4s $easeOutExpo, opacity 0.74s $easeInOutSine;

  @include breakpoint-up(md) {
    transform: translateY(40px);
  }

  .-anim &,
  &.-anim {
    transform: translateY(0);
    opacity: 1;
  }
}
