@use "global" as *;

/* ------------------------
  elements Classes
------------------------ */
.el_hidden {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
  pointer-events: none;
}