/* ------------------------
  Variables
------------------------ */
:root {
  --color-bg: #f3f3f3;
  --color-white: #fff;
  --color-black: #000;
  --color-light-black: #111;
  --color-gray: #777777;
  --color-yellow: #FCF068;
  --color-pink: #FC948D;
  --color-01: #294B75;
  --color-02: #4591CB;
  --color-03: #1F5AA3;

  --color-subnav: #EDE7D2;
  --color-footer-nav: #ddd;
  --color-footer-bottom: #666;
  --color-footer-border: #ccc;
  --color-narrow-down: #acacac;
  --color-nav-cat: #999;
  --color-nav-elapsed: #666;
  --color-hover: #294B75;
}