@use "@styles/settings" as *;

.bl_hd_inner {
  padding: 18px 20px 15px;

  @include breakpoint-up(md) {
    padding: 20px 45px 36px;
  }
}

// head
.bl_hdHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.bl_hdHead_logo {
  width: 185px;

  @include breakpoint-up(md) {
    width: 220px;
  }

  > a {
    display: block;
    width: 100%;
  }
}

.bl_hdHead_nav {
  display: flex;
  align-items: center;
  gap: 17px;

  @include breakpoint-up(md) {
    justify-content: flex-end;
    gap: 30px;
  }
}

.bl_hdHead_member {
  @include breakpoint-up(md) {
    position: relative;
    top: -1px;
  }
}

.bl_hdHead_hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  // padding-block: 6px;
  width: 20px;
  height: 23px;

  > span {
    width: 100%;
    height: 1px;
    background-color: var(--color-black);
  }

  &::before {
    content: "";
    position: absolute;
    inset: -1px -2px;
  }
}

.bl_hdHead_list {
  display: flex;
  gap: 20px;

  > li {
    > a {
      font-size: rem(16);
      font-weight: 500;
      letter-spacing: 0.04em;
    }
  }
}

.bl_hdHead_icons {
  display: flex;
  gap: 14px;
}

.bl_hdHead_search {
  display: block;
  width: 20px;
}

.bl_hdHead_lang {
  display: block;
  width: 18px;
}

.bl_hdHead_user {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 7px 18px 5px;
  font-size: rem(16);
  font-weight: 500;
  letter-spacing: 0.04em;
  border: solid 1px rgba(#000, 0.3);
  border-radius: 8px;
}

.bl_hdHead_register {
  position: relative;

  > a {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0 auto 0 -16px;
    margin-block: auto;
    width: 1px;
    height: 16px;
    background-image: linear-gradient(
      to bottom,
      #000 0, #000 1px,
      transparent 1px , transparent 3px,
      #000 3px, #000 5px,
      transparent 5px , transparent 7px,
      #000 7px, #000 9px,
      transparent 9px , transparent 11px,
      #000 11px, #000 13px,
      transparent 13px , transparent 15px,
      #000 15px, #000 16px,
    );
  }
}

.bl_hdHead_register_title {
  @include breakpoint-up(md) {
    flex: 1;
  }
}