@use "@styles/settings" as *;

.bl_categoryTop {
  @include breakpoint-up(md) {
    padding-bottom: 30px;
  }
}

.bl_categoryTop_inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px 10px 30px;
  min-height: 180px;

  @include breakpoint-up(md) {
    padding: 20px lq(80);
    max-width: calc(100% - 305px);
    min-height: 170px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0 auto 0 0;
    width: 120px;
    background-color: #fff;

    @include breakpoint-up(md) {
      width: 170px;
    }
  }
}

.bl_categoryTop_heading {
  position: relative;
  z-index: 2;

  h1 {
    font-size: rem(18);
    font-weight: 500;
    line-height: 1.2;
    color: #294B75;

    @include breakpoint-up(md) {
      font-size: rem(30);
    }
  }

  p {
    margin-top: 10px;
    font-size: rem(14);
    color: #111;

    @include breakpoint-up(md) {
      margin-top: 6px;
      font-size: rem(16);
    }
  }
}

.bl_categoryTop_slug {
  position: relative;
  z-index: 2;
  margin-top: 30px;
  font-size: rem(14);
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #4591CB;

  @include breakpoint-up(md) {
    position: absolute;
    bottom: 0;
    right: lq(80);
  }
}