@use "@styles/settings" as *;

.bl_detailTop {
  position: relative;
  padding-block: 20px;
  min-height: 140px;
  background-color: var(--color-white);

  @include breakpoint-up(md) {
    // height: 140px;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0 auto 0 0;
    width: 50px;
    background-color: var(--color-02);

    @include breakpoint-up(md) {
      width: 108px;
    }
  }
}

.bl_detailTop_inner {
  @include breakpoint-up(md) {
    padding-right: lq(80);
    max-width: calc(100% - 305px);
  }
}

.bl_detailTop_container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 13px;
  padding-inline: 10px;
  height: 100%;

  @include breakpoint-up(md) {
    gap: 24px;
    padding-inline: 80px 0;
  }
}

.bl_detailTop_logo {
  width: 70px;

  @include breakpoint-up(md) {
    width: 110px;
  }
}

.bl_detailTop_content {
  flex: 1;
  display: grid;
  gap: 4px;

  @include breakpoint-up(md) {
    gap: 8px;
  }
}

.bl_detailTop_head {
  display: flex;
  align-items: center;
  gap: 14px;
  // @include breakpoint-up(md) {
  // }
}

.bl_detailTop_press {
  display: grid;
  place-items: center;
  padding-top: 2px;
  font-size: rem(14);
  width: 120px;
  height: 30px;
  font-weight: 500;
  line-height: 1;
  background-color: var(--color-yellow);

  @include breakpoint-up(md) {
    width: 148px;
    height: 36px;
    font-size: rem(16);
  }
}

.bl_detailTop_category {
  font-size: rem(13);
  font-weight: 700;
  line-height: 1.1;
  color: var(--color-02);

  @include breakpoint-up(md) {
    font-size: rem(17);
  }
}

.bl_detailTop_title {
  padding: 5px 10px 4px;
  width: fit-content;
  font-size: rem(14);
  font-weight: 500;
  background-color: #f6f6f6;
  
  @include breakpoint-up(md) {
    font-size: rem(16);
  }
}

.bl_detailTop_facility {
  font-size: rem(14);

  @include breakpoint-up(md) {
    font-size: rem(16);
  }
}