@use "@styles/settings" as *;

.bl_regionTop {
  position: relative;
  padding: 70px 10px 44px;
  text-align: center;
  background-color: var(--color-white);

  @include breakpoint-up(md) {
    padding: 80px 20px 64px;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 28px 0 auto;
    margin-inline: auto;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;

    @include breakpoint-up(md) {
      top: 32px;
    }
  }

  &[data-page="reports"]::before {
    background-image: url('/assets/icon/icon_reports.svg')
  }

  &[data-page="columns"]::before {
    background-image: url('/assets/icon/icon_columns.svg')
  }
}

.bl_regionTop_heading {
  p {
    font-size: rem(30);
    font-weight: 100;
    line-height: 1;
    letter-spacing: -0.04em;
    color: var(--color-02);

    @include breakpoint-up(md) {
      font-size: rem(50);
    }
  }

  h1 {
    margin-top: 10px;
    font-size: rem(16);
    font-weight: 600;
    color: var(--color-01);

    @include breakpoint-up(md) {
      font-size: rem(24);
    }
  }
}

.bl_regionTop_text {
  margin-top: 10px;
  font-size: rem(14);
  white-space: pre-line;

  @include breakpoint-up(md) {
    font-size: rem(16);
  }
}