@use "@styles/settings" as *;

.un_series {
  background-color: var(--color-white);
}

.un_series_inner {
  padding-block: 100px;

  &.bl_inner {
    @include breakpoint-up(md) {
      padding-left: 255px;
    }
  }
}

.un_series_container {
  @include breakpoint-up(md) {
    margin-inline: auto;
    max-width: 720px;
  }
}

.un_series_top {
  @include breakpoint-up(md) {
    display: grid;
    grid-template-columns: 195px minmax(0, 1fr);
    gap: 30px;
  }
}

.un_series_top_img {
  border-radius: 4px;
  overflow: hidden;

  @include breakpoint-up(md) {
    align-self: flex-start;
  }
}

.un_series_top_content {
  margin-top: 30px;

  @include breakpoint-up(md) {
    margin-top: 0;
  }
}

.un_series_top_title {
  position: relative;
  padding-left: 14px;
  font-size: rem(24);
  font-weight: 500;
  line-height: 1.5;

  &::before {
    content: "";
    position: absolute;
    inset: 0.1em auto 0.3em 0;
    width: 4px;
    background-color: #024270;
  }
}

.un_series_top_text {
  margin-top: 20px;
  font-size: rem(14);
  line-height: 1.8;
}

.un_series_back {
  margin-top: 60px;
}

.un_series_back_title {
  position: relative;
  padding-bottom: 8px;
  width: fit-content;
  font-size: rem(16);
  font-weight: 500;
  line-height: 1;

  &::after {
    content: "";
    position: absolute;
    inset: auto 0 0;
    height: 2px;
    background-color: #024270;
  }
}

.un_series_list {
  margin-top: 24px;
  
  @include breakpoint-up(md) {
    padding-left: 10px;
  }
}

.un_series_item {
  display: flex;
  gap: 10px;

  &:not(:first-child) {
    margin-top: 20px;
  }
}

.un_series_item_date {
  > time {
    display: block;
    font-size: rem(12);
    line-height: 1.5;
    color: #666;
  }
}

.un_series_item_title {
  flex: 1;
  
  > a {
    font-size: rem(14);
    font-weight: 600;
    text-decoration: underline;
  }
}

.un_series_back_btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}