@use "@styles/settings" as *;

.un_series {
  background-color: var(--color-white);
}

.un_series_inner {
  padding-block: 60px 90px;

  @include breakpoint-up(md) {
    padding-block: 60px;
  }
}

.un_series_sec {
  overflow: hidden;
    
  &[aria-hidden] {
    height: 0;
    opacity: 0;
    pointer-events: none;

    .un_series_heading {
      padding-top: 100px;
    }
  }
}

.un_series_heading {
  @include breakpoint-up(md) {
    display: flex;
    justify-content: center;
  }
}

.un_series_list {
  @include breakpoint-down(sm) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
    margin-top: 34px;
  }

  @include breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 78px;
    padding-left: lq(40);
  }

  > li {
    @include breakpoint-up(md) {
      max-width: 195px;
      width: calc(50% - 15px);
    }

    > a {
      display: block;
    }
  }
}

.un_series_img {
  border-radius: 4px;
  overflow: hidden;

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.un_series_title {
  margin-top: 20px;
  font-size: rem(13);
  font-weight: 500;

  @include breakpoint-up(md) {
    font-size: rem(18);
  }
}

.un_series_date {
  margin-top: 20px;
  font-size: rem(10);
  line-height: 1;
  color: var(--color-black);
  opacity: 0.5;
  text-align: right;
}

.un_series_btn {
  margin-top: 60px;
}