@use "@styles/settings" as *;

.un_reportList {
  padding-top: 70px;

  @include breakpoint-up(md) {
    padding-top: 140px;
    padding-bottom: 20px;
  }
}

.un_reportList_nd {
  margin-top: 20px;
}

.un_reportList_list {
  margin-top: 30px;
}