@use "@styles/settings" as *;

.un_recently_inner {
  padding-block: 60px 70px;

  @include breakpoint-up(md) {
    padding-block: 80px 60px;
  }
}

.un_recentlyCard {
  margin-top: 30px;

  @include breakpoint-up(md) {
    display: grid;
    grid-template-columns: lq(474) minmax(0, 1fr);
    gap: 18px;
  }
}

.un_recentlyCard_img {
  position: relative;

  @include breakpoint-up(md) {
    place-self: flex-start;
  }
}

.un_recentlyCard_thumb {
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.un_recentlyCard_logo {
  position: absolute;
  z-index: 2;
  right: 10px;
  bottom: -20px;
  width: 90px;
  border-radius: 4px;
  overflow: hidden;
  
  @include breakpoint-up(md) {
    right: 20px;
    width: 150px;
  }
}

.un_recentlyCard_body {
  margin-top: 28px;

  @include breakpoint-up(md) {
    margin-top: 0;
  }
}

.un_recentlyCard_category {
  font-size: rem(15);
  font-weight: 700;
  line-height: 1.1;
  color: var(--color-02);
}

.un_recentlyCard_title {
  margin-top: 16px;
  font-size: rem(18);
  font-weight: 500;

  @include breakpoint-up(md) {
    margin-top: 8px;
    font-size: rem(24);
  }
}

.un_recentlyCard_summary {
  margin-top: 24px;
  font-size: rem(14);

  @include breakpoint-up(md) {
    margin-top: 18px;
  }
}

.un_recentlyCard_btm {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.un_recentlyCard_download {
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 3px;
  width: fit-content;
  height: 26px;
  font-size: rem(12);
  font-weight: 700;
  letter-spacing: 0.04em;
  background-color: var(--color-white);

  &::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-image: url('/icon/icon_pdf.svg');
    background-repeat: no-repeat;
    background-size: 18px 18px;
  }
}

.un_recentlyCard_time {
  align-self: flex-end;
  font-size: rem(13);
  line-height: 1;
  opacity: 0.5;

  @include breakpoint-up(md) {
    font-size: rem(14);
  }
}