@use "@styles/settings" as *;

.bl_seriesSurvey {
  background-color: #fff;
  padding: 136px 0 80px;
}
.bl_seriesSurvey_container {
  width: 76.59%;
  margin: 0 0 0 auto;
}
.bl_seriesSurvey_title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 40px;
}
.bl_seriesSurvey {
  figure {
    margin-bottom: 60px;
  }
}
.bl_seriesSurvey img {
  width: calc(100% - 84px);
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
}
.bl_seriesSurvey_contents {
  display: grid;
  grid-template-columns: 110px 1fr;
  gap: 16px 24px;
}
.bl_seriesSurvey_contents dt {
  font-weight: 600;
}
.bl_seriesSurvey_contents dt,
.bl_seriesSurvey_contents dd {
  font-size: 16px;
  line-height: 1.8;
}

@media (width < 768px) {
  .bl_seriesSurvey {
    padding: 100px 0;
  }
  .bl_seriesSurvey_container {
    width: 100%;
    margin: 0 auto;
  }
  .bl_seriesSurvey_title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .bl_seriesSurvey img {
    width: 100%;
  }
  .bl_seriesSurvey_contents {
    grid-template-columns: 90px 1fr;
    gap: 16px;
  }
  .bl_seriesSurvey_contents dt, .bl_seriesSurvey_contents dd {
    font-size: 15px;
  }
}