@use "config" as *;

.bl_h2 {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 40px;
}
.bl_h3 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25;
  padding-left: 14px;
}
.bl_h3::before {
  content: "";
  background-color: var(--color-01);
  width: 4px;
  height: 24px;
  position: absolute;
  top: 2px;
  left: 0;
}
.bl_regionTop[data-page=expertise]::before {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='30' width='8' height='30' transform='rotate(90 30 0)' fill='%234591CB' fill-opacity='0.6'/%3E%3Crect x='13' y='8' width='7' height='13' transform='rotate(90 13 8)' fill='%234591CB' fill-opacity='0.2'/%3E%3Crect x='22' y='15' width='7' height='22' transform='rotate(90 22 15)' fill='%234591CB' fill-opacity='0.8'/%3E%3Crect x='30' y='22' width='8' height='30' transform='rotate(90 30 22)' fill='%23FDF065'/%3E%3Crect x='30' y='22' width='8' height='30' transform='rotate(90 30 22)' fill='%234591CB'/%3E%3C/svg%3E");
}
.bl_regionTop[data-page=consultants]::before {
  background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'>\<rect x='30' width='8' height='6' transform='rotate(90 30 0)' fill='%234591CB' fill-opacity='0.6'/>\<rect x='30' y='8' width='7' height='12' transform='rotate(90 30 8)' fill='%234591CB' fill-opacity='0.2'/>\<rect x='30' y='15' width='8' height='20' transform='rotate(90 30 15)' fill='%23FDF065'/>\<rect x='30' y='15' width='8' height='20' transform='rotate(90 30 15)' fill='%234591CB'/>\<rect x='30' y='23' width='7' height='30' transform='rotate(90 30 23)' fill='%234591CB' fill-opacity='0.8'/>\</svg>");
}
.bl_regionTop[data-page=about]::before {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='26' width='8' height='4' fill='%234591CB' fill-opacity='0.4'/%3E%3Crect x='8' y='26' width='7' height='4' fill='%234591CB' fill-opacity='0.2'/%3E%3Crect x='15' y='26' width='8' height='4' fill='%234591CB'/%3E%3Crect x='23' y='26' width='7' height='4' fill='%234591CB' fill-opacity='0.8'/%3E%3C/svg%3E");
}
.bl_download[data-file=SEARCH]:before {
  background-image: url(/assets/icon/icon_search.svg);
}
.bl_btn_wrap {
  text-align: right;
}
.bl_btn_wrap.--center {
  text-align: center;
}
.bl_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  background-color: #fff;
  border: 1px solid #000;
  padding: 16px 20px;
  margin: 0 auto;
}
.bl_btn svg {
  width: 18px;
  height: 18px;
}
.bl_btn_down svg {
  width: 24px;
  height: 24px;
}
.bl_btn span {
  display: block;
  margin-top: 3px;
}
.bl_btnBig {
  color: #fff;
  background-color: #294b75;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  width: 270px;
  padding: 36px 20px;
}
.bl_btn_popup {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 16px 20px 18px;
}
.bl_login {
  position: relative;
  width: min(100%, 454px);
  background-color: #fff;
  text-align: center;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 20px 20px 30px;
  margin: 0 auto;
  z-index: 1;
}
.bl_login_icon {
  width: 38px;
  height: 38px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 10V8C17 5.23858 14.7614 3 12 3C9.23858 3 7 5.23858 7 8V10M12 14.5V16.5M8.8 21H15.2C16.8802 21 17.7202 21 18.362 20.673C18.9265 20.3854 19.3854 19.9265 19.673 19.362C20 18.7202 20 17.8802 20 16.2V14.8C20 13.1198 20 12.2798 19.673 11.638C19.3854 11.0735 18.9265 10.6146 18.362 10.327C17.7202 10 16.8802 10 15.2 10H8.8C7.11984 10 6.27976 10 5.63803 10.327C5.07354 10.6146 4.6146 11.0735 4.32698 11.638C4 12.2798 4 13.1198 4 14.8V16.2C4 17.8802 4 18.7202 4.32698 19.362C4.6146 19.9265 5.07354 20.3854 5.63803 20.673C6.27976 21 7.11984 21 8.8 21Z' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto 8px;
}
.bl_login_text {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 13px;
}
.bl_login_text a {
  color: #fc948d;
  text-decoration: underline;
}
.bl_login_link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}
.bl_login_link_btn {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  min-height: 50px;
  border-radius: 8px;
  padding: 12px 10px;
}
.bl_login_link_login {
  background-color: #294b75;
}
.bl_login_link_new {
  background-color: #fc948d;
}
.bl_login_link_login svg {
  width: 22px;
  height: 22px;
}
.bl_login_link_new .icon {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 100vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bl_login_link_new .icon svg {
  color: #fc948d;
  width: 16px;
  height: 16px;
}
.bl_download--normal {
  width: min(100%, 270px);
  min-height: 90px;
  color: #fff;
  background-color: #294b75;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 32px;
  border-radius: 8px;
}
.bl_download--normal svg {
  width: 24px;
  height: 24px;
}
.bl_acc01_container,
.bl_acc02__container {
  border-bottom: 1px solid #dadada;
}
.bl_acc01,
.bl_acc02 {
  position: relative;
  border-top: 1px solid #dadada;
}
.bl_acc01::before,
.bl_acc02::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 38 38' fill='none'>\<path d='M28.5 23.75L19 14.25L9.5 23.75' \stroke='%231F5AA3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/>\</svg>");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 38px !important;
  height: 38px !important;
}
.bl_acc01[open]::before,
.bl_acc02[open]::before {
  transform: translateY(-50%);
}
.bl_acc01_title,
.bl_acc02_title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: min(2.08vw, 30px);
  padding: 40px 80px 40px 0;
  cursor: pointer;
}
.bl_acc02_title {
  justify-content: flex-start;
}
.bl_acc01_title .text,
.bl_acc02_title .text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  padding: 0;
}
.bl_acc01_title .text::before,
.bl_acc02_title .text::before {
  left: auto;
  width: 0;
  height: 0;
  background-color: transparent;
}
.bl_acc01_content,
.bl_acc02_content {
  line-height: 1.8;
  padding: 0 80px 40px 0;
  display: flex;
  gap: min(2.08vw, 30px);
}
.bl_acc02_content {
  display: block;
  padding-left: calc(clamp(80px, 13.89vw, 200px) + min(2.08vw, 30px));
}
.bl_acc01_title .image,
.bl_acc01_content .image,
.bl_acc02_title .image,
.bl_acc02_content .image {
  width: 165px;
  height: 110px;
  overflow: hidden;
  flex-shrink: 0;
}
.bl_acc01_title .image img,
.bl_acc01_content .image img,
.bl_acc02_title .image img,
.bl_acc02_content .image img {
  height: 100%;
  object-fit: cover;
}
.bl_acc02_title .branch {
  width: clamp(60px, 13.89vw, 200px);
  flex-shrink: 0;
}
.bl_acc02_title .branch_text {
  font-size: 17px;
  margin-bottom: 14px;
}
.bl_acc02_title .branch_year {
  color: #666;
  font-size: 13px;
}
.bl_acc02 .bl_download {
  margin-top: 18px;
}
.bl_acc02_content p {
  margin-bottom: 24px;
  line-height: 1.5;
}
.bl_acc02_content .person {
  display: flex;
  gap: 18px;
  margin-bottom: 30px;
}
.bl_acc02_content .person_item {
  position: relative;
  color: #1f5aa3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}
.bl_acc02_content .person_item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -14px;
  background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' width='9' height='16' viewBox='0 0 9 16' fill='none'>\<path d='M0.5 15.5L8 0.5' \stroke='%23666666' stroke-opacity='0.4' \stroke-linecap='round' stroke-linejoin='round'/>\</svg>");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 8px;
  height: 15px;
}
.bl_expandBtn_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 40px;
}
.bl_expandBtn {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.3;
  padding-left: 26px;
  background-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'>\<path d='M14.1667 3.3335V12.5002M14.1667 12.5002L10.8333 9.16683M14.1667 12.5002L17.5 9.16683M5.83333 3.3335V16.6668M5.83333 16.6668L2.5 13.3335M5.83333 16.6668L9.16667 13.3335' \stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/>\</svg>");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
.bl_caseStudy .bl_expandBtn_container {
  margin-bottom: 30px;
}
.bl_caseStudy_container {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #dadada;
  padding: 80px 40px 20px;
  margin-bottom: 80px;
}
.bl_caseStudy_content {
  display: flex;
  gap: 18px;
}
.bl_caseStudy_img {
  width: min(18.06vw, 260px);
  height: min(12.01vw, 173px);
  flex-shrink: 0;
}
.bl_caseStudy_img img {
  height: 100%;
  object-fit: cover;
}
.bl_caseStudy_info .branch {
  font-size: 14px;
}
.bl_caseStudy_info .title {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 8px;
}
.bl_caseStudy_info .desc {
  color: #555;
  font-size: 14px;
  line-height: 1.5;
}
.bl_caseStudy_info .date {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 1;
  text-align: right;
  margin-top: 20px;
}
.bl_caseStudy .bl_btn_wrap {
  padding-top: 80px;
}
.bl_card01 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.67vw;
}
.bl_card01_item_img {
  height: 13.89vw;
  border-radius: 4px;
  overflow: hidden;
}
.bl_card01_item_img img {
  height: 100%;
  object-fit: cover;
}
.bl_card01_item_ttl {
  font-size: 18px;
  font-weight: 500;
  margin: 20px auto 8px;
}
.bl_card01_item_desc {
  font-size: 14px;
}
.bl_card02 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.11vw 1.04vw;
}
.bl_card02_item_img {
  height: 8.33vw;
  border-radius: 4px;
  overflow: hidden;
}
.bl_card02_item_img img {
  height: 100%;
  object-fit: cover;
}
.bl_card02_item_ttl {
  font-size: 18px;
  font-weight: 600;
  margin: 16px 0 10px;
}
.bl_card02_item_desc {
  font-size: 14px;
  color: #555;
}
.bl_card_title.--secret {
  position: relative;
}
.bl_card_title.--secret::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #fc948d;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 10V8C17 5.23858 14.7614 3 12 3C9.23858 3 7 5.23858 7 8V10M12 14.5V16.5M8.8 21H15.2C16.8802 21 17.7202 21 18.362 20.673C18.9265 20.3854 19.3854 19.9265 19.673 19.362C20 18.7202 20 17.8802 20 16.2V14.8C20 13.1198 20 12.2798 19.673 11.638C19.3854 11.0735 18.9265 10.6146 18.362 10.327C17.7202 10 16.8802 10 15.2 10H8.8C7.11984 10 6.27976 10 5.63803 10.327C5.07354 10.6146 4.6146 11.0735 4.32698 11.638C4 12.2798 4 13.1198 4 14.8V16.2C4 17.8802 4 18.7202 4.32698 19.362C4.6146 19.9265 5.07354 20.3854 5.63803 20.673C6.27976 21 7.11984 21 8.8 21Z' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center top 2px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  border-radius: 100vmax;
  vertical-align: sub;
  margin-left: 4px;
}
.bl_card_summary.--gray {
  color: #555;
}

.un_recentlyCard_title.--secret::after {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: #fc948d;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 10V8C17 5.23858 14.7614 3 12 3C9.23858 3 7 5.23858 7 8V10M12 14.5V16.5M8.8 21H15.2C16.8802 21 17.7202 21 18.362 20.673C18.9265 20.3854 19.3854 19.9265 19.673 19.362C20 18.7202 20 17.8802 20 16.2V14.8C20 13.1198 20 12.2798 19.673 11.638C19.3854 11.0735 18.9265 10.6146 18.362 10.327C17.7202 10 16.8802 10 15.2 10H8.8C7.11984 10 6.27976 10 5.63803 10.327C5.07354 10.6146 4.6146 11.0735 4.32698 11.638C4 12.2798 4 13.1198 4 14.8V16.2C4 17.8802 4 18.7202 4.32698 19.362C4.6146 19.9265 5.07354 20.3854 5.63803 20.673C6.27976 21 7.11984 21 8.8 21Z' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center top 4px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  border-radius: 100vmax;
  vertical-align: sub;
  margin-left: 4px;
}
.un_recentlyCard_theme {
  color: #555;
  margin-bottom: 10px;
}
.un_recentlyCard_tag {
  color: #1f5aa3;
  line-height: 1.4;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
@media (width < 768px) {
  .bl_h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .bl_h3 {
    font-size: 18px;
  }
  .bl_h3::before {
    height: 20px;
    top: 0;
  }
  .bl_login_text {
    margin-bottom: 23px;
  }
  .bl_login_link {
    grid-template-columns: 200px;
    justify-content: center;
  }
  .bl_card01 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .bl_card01_item_img {
    height: 53.33vw;
  }
  .bl_card02 {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .bl_card02_item a {
    gap: 16px;
  }
  .bl_expandBtn_container {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .bl_expandBtn {
    margin: 0 0 0 auto;
  }
  .bl_acc01::before,
  .bl_acc02::before {
    top: 40px;
    right: 0;
  }
  .bl_acc01_title,
  .bl_acc02_title {
    padding: 20px 40px 20px 0;
    flex-direction: column;
    gap: 20px;
  }
  .bl_acc01_title .text,
  .bl_acc02_title .text {
    font-size: 18px;
  }
  .bl_acc01_content,
  .bl_acc02_content {
    padding: 0 40px 20px 0;
    flex-direction: column;
    gap: 20px;
  }
  .bl_acc01_title .image,
  .bl_acc01_content .image,
  .bl_acc02_title .image,
  .bl_acc02_content .image {
    width: 100%;
    height: 48vw;
  }
  .bl_acc02_title .branch {
    width: 100%;
  }
  .bl_acc02_title .branch_text {
    font-size: 15px;
  }
  .bl_acc02_content p {
    font-size: 14px;
  }
  .bl_caseStudy_container {
    padding: 60px 14px 50px;
  }
  .bl_caseStudy_content {
    flex-direction: column;
  }
  .bl_caseStudy_img {
    width: 100%;
    height: 42.67vw;
  }
  .bl_caseStudy_info .branch {
    font-size: 14px;
  }
  .bl_caseStudy .bl_btn_wrap {
    padding-top: 60px;
    text-align: center;
  }
  .un_recentlyCard_container {
    display: flex;
    gap: 20px;
    overflow: hidden;
  }
  .un_recentlyCard_container .un_recentlyCard {
    width: 100%;
    flex-shrink: 0;
  }
  .un_recentlyCard_container .un_recentlyCard {
    margin-bottom: 0 !important;
  }
}