@use "@styles/settings" as *;

.bl_linkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 10px 20px;
  width: fit-content;
  min-height: 52px;
  background-color: var(--color-white);
  border: solid 1px var(--color-black);
}

.bl_linkBtn_title {
  font-size: rem(14);
  font-weight: 500;
  letter-spacing: 0.04em;
}