@use "@styles/settings" as *;

/* == research-reports/detail ==================================== */
.un_reportDetail .bl_article_thumb {
  width: 100%;
  height: 24.17vw;
  overflow: hidden;
  border-radius: 4px;
}
.un_reportDetail .bl_article_thumb img {
  height: 100%;
  object-fit: cover;
}
.un_reportDetail_content {
  // padding: 70px 0 90px 0;
  padding: 70px 0 0;
}
.un_reportDetail_content .un_reportDetail_acc:not(:first-of-type) {
  padding-top: 60px;
}
.un_reportDetail_acc {
  padding-bottom: 40px;
  border-bottom: 1px solid #dadada;
}
.un_reportDetail_acc__title {
  position: relative;
  display: grid;
  grid-template-columns: 36px 1fr;
  gap: 20px;
  padding-right: 80px;
}
.un_reportDetail_acc__title > .number {
  font-size: 24px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e7e4;
}
.un_reportDetail_acc__title h2 {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

/* 閉じている時（デフォルト） */
.un_reportDetail_acc__title::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%231F5AA3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease;
}
/* 開いている時 - 180度回転 */
// .un_reportDetail_acc[open] .un_reportDetail_acc__title::before {
.un_reportDetail_acc.is_opened .un_reportDetail_acc__title::before {
  transform: translateY(-50%) rotate(180deg);
}
.un_reportDetail_acc__content {
  width: 77.78%;
  padding-top: 35px;
  margin: 0 auto;
  position: relative;
}
// .un_reportDetail_acc.--secret .un_reportDetail_acc__content::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   height: 100%;
//   background: linear-gradient(transparent, 10%, #fff);
//   z-index: 0;
// }
// .un_reportDetail_acc__content p {
//   font-size: 16px;
//   line-height: 1.8;
//   margin-bottom: 50px;
// }
// .un_reportDetail_acc__content p:last-of-type {
//   margin-bottom: 0;
// }
// .un_reportDetail_acc__content img {
//   border-radius: 4px;
//   overflow: hidden;
// }
// .un_reportDetail_acc__content img:not(figure img),
// .un_reportDetail_acc__content figure {
//   margin-bottom: 50px;
// }
// .un_reportDetail_acc__content figcaption {
//   font-size: 12px;
//   margin-top: 24px;
// }
// .un_reportDetail_acc__content .title {
//   font-size: 18px;
//   font-weight: 500;
//   letter-spacing: 0.04em;
//   line-height: 1.4;
//   margin-bottom: 24px;
// }

@media (width < 768px) {
  .un_reportDetail .bl_article_thumb {
    height: 44.44vw;
  }
  .un_reportDetail_content {
    padding: 60px 0 40px 0;
  }
  .un_reportDetail_content {
    width: 91.67vw;
    margin: 0 auto;
  }
  .un_reportDetail_acc__title {
    display: flex;
    flex-direction: column;
  }
  .un_reportDetail_acc__title::before {
    top: 0;
    transform: rotate(0deg);
  }
  .un_reportDetail_acc__title .number {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
  // .un_reportDetail_acc[open] .un_reportDetail_acc__title::before {
  .un_reportDetail_acc.is_opened .un_reportDetail_acc__title::before {
    right: 0;
    transform: rotate(180deg);
  }
  .un_reportDetail_acc__title .text {
    font-size: 16px;
    padding-right: 38px;
  }
  .un_reportDetail_acc__content {
    width: 100%;
    margin-top: 18px;
  }
  // .un_reportDetail_acc__content p {
  //   font-size: 14px;
  //   margin-bottom: 38px;
  // }
  // .un_reportDetail_acc__content .title {
  //   font-size: 12px;
  //   margin-bottom: 15px;
  // }
  // .un_reportDetail_acc__content figcaption {
  //   margin-top: 15px;
  // }
  // .un_reportDetail_acc__content img:not(figure img), 
  // .un_reportDetail_acc__content figure {
  //   margin-bottom: 38px;
  // }
}