@use "@styles/settings" as *;

.bl_contact {
  background-color: var(--color-02);
}

.bl_contact_inner {
  padding-block: 50px;
}

.bl_contact_container {
  display: flex;
  flex-direction: column;
  gap: 34px;

  @include breakpoint-up(md) {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
}

.bl_contact_head {
  > h2 {
    font-size: rem(20);
    font-weight: 500;
    color: var(--color-white);

    @include breakpoint-up(md) {
      font-size: rem(24);
    }
  }
}

.bl_contact_body {
  flex: 1;
  max-width: 650px;
  color: var(--color-white);
}

.bl_contact_company {
  font-size: rem(14);
  font-weight: 500;

  @include breakpoint-up(md) {
    font-size: rem(15);
  }
}

.bl_contact_office {
  margin-top: 6px;
  font-size: rem(16);
  font-weight: 700;
  line-height: 1.5;

  @include breakpoint-up(md) {
    margin-top: 3px;
    font-size: rem(20);
  }
}

.bl_contact_address {
  margin-top: 6px;
  font-size: rem(13);
  line-height: 1.5;

  @include breakpoint-up(md) {
    margin-top: 2px;
    font-size: rem(14);
  }
}

.bl_contact_person {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  font-size: rem(15);
  line-height: 1.5;
  letter-spacing: 0.04em;

  @include breakpoint-up(md) {
    font-size: rem(16);
  }

  > dd {
    flex: 1;
  }
}

.bl_contact_info {
  display: grid;
  place-items: center;
  margin-top: 30px;
  padding: 30px 20px;
  background-color: #3C8AC4;
  border-radius: 8px;

  @include breakpoint-up(md) {
    padding: 30px;
  }

  > p {
    font-size: rem(15);
    font-weight: 500;
    line-height: 1.5;
    text-align: center;

    @include breakpoint-up(md) {
      font-size: rem(18);
    }

    > a {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
}

.bl_contact_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 26px;
  padding: 20px;
  width: 100%;
  max-width: 270px;
  min-height: 90px;
  font-size: rem(20);
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 8px;

  @include breakpoint-up(md) {
    max-width: 297px;
    font-size: rme(22);
  }
}