@use "@styles/settings" as *;

.un_resultSummary {
  background-color: #E9E7E4;
}

.un_resultSummary_head {
  display: grid;
  place-items: center;
  padding-top: 6px;
  min-height: 60px;
  background-color: #1F5AA3;

  @include breakpoint-up(md) {
    min-height: 78px;
  }

  >h2 {
    font-size: rem(20);
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.4;
    color: #fff;

    @include breakpoint-up(md) {
      font-size: rem(24);
    }
  }
}

.un_resultSummary_body {
  padding: 40px 30px;
  
  @include breakpoint-up(md) {
    padding: 50px 40px 30px;
  }
}

.un_resultSummary_list {
  > li {
    font-size: rem(14);
    font-weight: 600;
    line-height: 1.5;

    @include breakpoint-up(md) {
      font-size: rem(16);
    } 

    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  ul {
    margin-top: 16px;
    padding: 8px 0 10px;

    @include breakpoint-up(md) {
      margin-top: 30px;
      padding: 12px 20px 26px;
    }

    > li {
      position: relative;
      padding-left: 30px;
      font-size: rem(14);
      font-weight: 500;
      line-height: 1.5;

      @include breakpoint-up(md) {
        padding-left: 40px;
        font-size: rem(16);
      }

      &::before {
        content: "ãƒ»";
        position: absolute;
        inset: 0 auto 0 0;
        display: grid;
        place-items: center;
        width: 30px;
        font-size: rem(20);
        font-weight: 600;

        @include breakpoint-up(md) {
          width: 40px;
        }
      }

      &:not(:first-child) {
        margin-top: 12px;
      }
    }
  }
}