@use "@styles/settings" as *;

.un_series {
  position: relative;
  padding: 103px 0 160px 0;
}
.un_series .bl_inner {
  position: relative;
  z-index: 1;
}
.un_series_bg {
  position: absolute;
  width: 100%;
  height: 730px;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  background-color: var(--bg-color);
}
.un_series_bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.un_series_icon {
  position: relative;
  width: 230px;
  height: 230px;
  border-radius: 4px;
  border: 1px solid #dadada;
  overflow: hidden;
  margin: 0 auto 30px;
}
.un_series_icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
} 
.un_series_icon_text {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: rem(15);
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 2px 2px #000);
  z-index: 2;
}
.un_series_title {
  background-color: rgba(255,255,255,0.9);
  border-radius: 8px;
  padding: 40px 20px;
  text-align: center;
  margin-bottom: 50px;
}
.un_series_title .title {
  font-size: rem(40);
}
.un_series_title .year {
  font-size: rem(24);
  line-height: 1.5;
  margin: 8px 0 18px;
}
.un_series_title .subTitle {
  font-size: rem(22);
}
.un_series_mv {
  position: relative;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.un_series_mv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.un_series_content {
  position: relative;
  padding: 0 13px;
  z-index: 1;
}
.un_series_content_copy {
  font-size: rem(24);
  font-weight: 700;
  line-height: 1.5;
  padding: 50px 80px;
}

.un_series_content {
  .bl_wysiwyg {
    p {
      font-size: rem(16);
      line-height: 1.8;

      @include breakpoint-up(md) {
        font-size: rem(20);
      }
    }
  }
}

.un_series_content_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 270px;
  padding: 32px 0;
  font-size: rem(19);
  font-weight: 500;
  line-height: 1;
  margin: 50px auto 0;
  border: 1px solid #000;
}
.un_series_content_btn svg {
  width: 28px;
  height: 28px;
}
.un_series_content_btn span {
  display: block;
  margin-top: 3px;
  margin-left: 7px;
}

@media (width < 768px) {
  .un_series {
    padding: 60px 0 100px 0;
  }
  .un_series_bg {
    height: 600px;
  }
  .un_series_icon {
    width: 200px;
    height: 200px;
  }
  .un_series_title {
    margin-bottom: 30px;
    padding: 30px 18px;
  }
  .un_series_title .title {
    font-size: rem(24);
  }
  .un_series_title .year {
    font-size: rem(14);
  }
  .un_series_title .subTitle {
    font-size: rem(16);
  }
  .un_series_mv {
    height: 48vw;
  }
  .un_series_content_copy {
    font-size: rem(18);
    padding: 40px 16px;
  }
  .un_series_content>img {
    width: 100%;
    margin: 0 auto 40px;
  }
  .un_series_content_btn {
    padding: 24px;
    font-size: rem(17);
  }
}