@use "@styles/settings" as *;

.un_reportList {
  padding-block: 70px 80px;

  @include breakpoint-up(md) {
    padding-block: 140px 80px;
  }
}

.un_reportList_nd {
  margin-top: 20px;
}

.un_reportList_list {
  margin-top: 30px;
}