@use "@styles/settings" as *;

.bl_inner {
  padding-inline: 30px;

  @include breakpoint-up(md) {
    padding-inline: lq(80);
    // max-width: calc(100% - (260px + lq(45)));
    max-width: calc(100% - 305px);
  }
}

.bl_inner_pc {
  @include breakpoint-up(md) {
    padding-inline: lq(80);
    max-width: calc(100% - 305px);
  }
}