@use "@styles/settings" as *;

.un_download {
  padding: 82px 0;
}
.un_download_container {
  background-color: #fff;
  width: 61.11vw;
  margin: 0 auto;
  padding: 40px 10px;
  border-radius: 8px;
  margin: 0 auto;
}
.un_download_ttl {
  font-size: 30px;
  text-align: center;
}
.un_download_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 50px 0;
}
.un_download_content_img {
  display: flex;
  gap: 20px;
}
.un_download_content_img .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.un_download_content_img .list_item {
  width: 50px;
  height: 50px;
  border: 1px solid #dadada;
  border-radius: 4px;
  overflow: hidden;
}
.un_download_content_img .list_item img {
  height: 100%;
  object-fit: cover;
}
.un_download_content_img .currentImage figure {
  width: 300px;
  height: 300px;
  border: 1px solid #dadada;
  border-radius: 4px;
  overflow: hidden;
}
.un_download_content_img .currentImage figcaption {
  font-size: 10px;
  margin-top: 12px;
  line-height: 1;
}
.un_download_content_desc {
  position: relative;
}
.un_download_content_desc::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, 50%, #fff);
  z-index: 0;
}
.un_download_content_desc dl {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 6px 8px;
  margin-bottom: 24px;
}
.un_download_content_desc dt,
.un_download_content_desc dd {
  font-size: 14px;
  line-height: 1.8;
}
.un_download_content_desc dt {
  font-weight: 600;
}


@media (width < 768px) {
  .un_download {
    padding: 80px 0 40px;
  }
  .un_download_container {
    width: 91.67vw;
    padding: 40px 25px;
  }
  .un_download_ttl {
    font-size: 28px;
  }
  .un_download_content {
    margin-top: 30px;
  }
  .un_download_content_img .list {
    display: none;
  }
  .un_download_content_img .currentImage figure {
    width: 77.78vw;
    height: 77.78vw;
  }
  .un_download_content_img {
    flex-direction: column;
    justify-content: center;
  }
  .un_download_content_img .pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .un_download_content_img .pagination_item {
    background-color: #dadada;
    width: 18px;
    height: 18px;
    border-radius: 100vmax;
  }
  .un_download_content_img .pagination_item.is-active {
    background-color: #294b75;
  }
}