@use "@styles/settings" as *;

.bl_scrollBar_wrap {
  margin-right: -30px;

  @include breakpoint-up(md) {
    margin-right: 0;
  }
}

.bl_scrollBar_body {
  overflow-x: scroll;
  overflow-y: hidden;
  overscroll-behavior: none;

  @include breakpoint-up(md) {
    overflow-x: inherit;
  }

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bl_scrollBar_content {
  display: flex;
  gap: 30px;

  @include breakpoint-up(md) {
    display: grid;
  }

  > li {
    flex: 0 0 auto;
    width: 300px;

    @include breakpoint-up(md) {
      flex: inherit;
      width: 100%;
    }

    &:last-child {
      @include breakpoint-down(sm) {
        padding-right: 30px;
        width: 330px;
      }
    }
  }
}

.bl_scrollBar {
  margin-top: 30px;
  margin-right: 30px;
  overflow: hidden;

  @include breakpoint-up(md) {
    display: none;
  }
}

.bl_scrollBar_line {
  position: relative;
  width: 100%;
  height: 8px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 8px;
    background-color: #ddd;
    border-radius: 4px;
  }

  .bl_sideNav_pickup & {
    &::before {
      background-color: var(--color-white);
    }
  }
}

.bl_scrollBar_current {
  position: absolute;
  inset: 0 auto 0 0;
  width: 110px;
  height: 8px;
  background-color: var(--color-01);
  border-radius: 4px;
}