@use "@styles/settings" as *;

.bl_article_wrap {
  padding-block: 60px;
  background-color: var(--color-white);

  @include breakpoint-up(md) {
    // padding-top: 80px;
    padding-block: 80px;
    border-radius: 50px;
  }
}

.bl_article_container {
  @include breakpoint-up(md) {
    display: grid;
    grid-template-columns: 201px minmax(0, 1fr);
    gap: 54px;
    padding-inline: lq(80);
    max-width: calc(100% - 305px);
  }
}

.bl_article_body {
  @include breakpoint-up(md) {

  }
}

.bl_article_head {
  padding-inline: 15px;

  @include breakpoint-up(md) {
    padding-inline: 0;
  }
}

.bl_article_lead {
  font-size: rem(18);
  font-weight: 600;

  @include breakpoint-up(md) {
    font-size: rem(25);
  }
}

.bl_article_thumb {
  margin-top: 25px;

  @include breakpoint-up(md) {
    margin-top: 40px;
  }
}

.bl_article_abstract {
  margin-top: 30px;
  padding: 20px 15px;
  font-size: rem(14);
  font-weight: 500;
  line-height: 1.8;
  background-color: #F6F6F6;

  @include breakpoint-up(md) {
    margin-top: 50px;
    padding: 40px;
    font-size: rem(20);
  }
}