@use "@styles/settings" as *;

.bl_sideNav_wrap {
  position: relative;
}

// コンテンツ部分
.bl_sideNav_content {
  @include breakpoint-up(md) {
    position: absolute;
    top: var(--sidenav-offset);
    // top: 50px;
    right: 45px;
    margin-top: 0;
    width: 260px;
  }
}

.bl_sideNav_nav {
  padding: 50px 30px;
  background-color: var(--color-subnav);
  
  @include breakpoint-up(md) {
    border-radius: 12px;
  }
}

.bl_sideNav_sec {

  &:not(:first-child) {
    margin-top: 50px;
    padding-top: 50px;
    border-top: solid 1px var(--color-white);
  }
}

.bl_sideNav_title {
  position: relative;
  padding-left: 32px;
  font-size: rem(16);
  font-weight: 500;
  line-height: lh(16,18);

  &::before {
    content: "";
    position: absolute;
    inset: 0 auto 0 0;
    margin-block: auto;
    width: 23px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-02);
  }
}

// 関連情報
.bl_sideNav_relCard {
  display: block;
  margin-top: 20px;
}

.bl_sideNav_relCard_img {
  border-radius: 4px;
  overflow: hidden;
  
  img {
    aspect-ratio: 197/120;
    object-fit: cover;
  }
}

.bl_sideNav_relCard_text {
  margin-top: 14px;
  font-size: rem(14);
  line-height: 1.5;
}

.bl_sideNav_relInfo_container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  overflow: scroll;

  @include breakpoint-up(md) {
    display: grid;
    overflow: inherit;
  }
}

.bl_sideNav_relInfo {
  flex: 0 0 auto;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 20px 15px;
  height: 100px;
  background-color: var(--color-white);
  border-radius: 8px;

  @include breakpoint-up(md) {
    flex: inherit;
    white-space: inherit;
    height: auto;
  }
}

.bl_sideNav_relInfo_title {
  font-size: rem(16);
  font-weight: 500;
}

.bl_sideNav_relInfo_cat {
  margin-top: 8px;
  font-size: rem(12);
  font-weight: 500;
  color: var(--color-nav-cat);
}

// 調査・レポート
.bl_sideNav_report {
  margin-top: 25px;

  > li {
    &:not(:first-child) {
      margin-top: 20px;

      @include breakpoint-up(md) {
        margin-top: 40px;
      }
    }

    // > a {}
  }
}

.bl_sideNav_report_text {
  font-size: rem(16);
  font-weight: 600;
}

.bl_sideNav_report_elapsed {
  margin-top: 7px;
  font-size: rem(12);
  line-height: 1.5;
  color: var(--color-nav-elapsed);
}

// pickup
.bl_sideNav_pickup_wrap {
  margin-right: -30px;

  @include breakpoint-up(md) {
    margin-right: 0;
  }
}

.bl_sideNav_pickup {
  .bl_scrollBar_body {
    padding-top: 25px;
  }
}

.bl_sideNav_pickup_item {
  > a {
    display: block;
  }
}

.bl_sideNav_pickup_img {
  position: relative;

  img {
    aspect-ratio: 197/120;
    object-fit: cover;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: -20px;
    right: -20px;
    width: 78px;
    aspect-ratio: 1/1;
    background-image: url('/pickup_featured.png');
    background-size: 78px 78px;
    background-repeat: no-repeat;
  }
}

.bl_sideNav_pickup_text {
  margin-top: 14px;
  font-size: rem(16);
  line-height: 1.5;
}

.bl_sideNav_pickup_cat {
  margin-top: 10px;
  font-size: rem(12);
  font-weight: 700;
  line-height: 1.1;
  color: var(--color-02);
}

.bl_sideNav_pickupScroll_wrap {
  margin-top: 32px;
  padding-right: 30px;

  @include breakpoint-up(md) {
    display: none;
  }
}

.bl_sideNav_pickupScroll {
  position: relative;
  width: 100%;
  height: 8px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 8px;
    background-color: var(--color-white);
    border-radius: 4px;
  }
}

.bl_sideNav_pickupScroll_bar {
  position: absolute;
  inset: 0 auto 0 0;
  width: 110px;
  height: 8px;
  background-color: var(--color-01);
  border-radius: 4px;
}