@use "@styles/settings" as *;

.bl_viewMore {
  display: flex;
  justify-content: center;

  > button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 20px 17px 50px;
    width: fit-content;
    font-size: rem(14);
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.04em;
    color: #222;
    border: solid 1px var(--color-black);

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      top: 14px;
      left: 20px;
      width: 24px;
      height: 24px;
      background-image: url('/icon/icon_arw_select.svg');
      background-size: 24px 24px;
      background-repeat: no-repeat;
    }

    &[data-open="true"] {
      &::before {
        rotate: 180deg
      }
    }
  }
}