@use "@styles/settings" as *;

.bl_accordion {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  > button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 20px 17px 50px;
    width: fit-content;
    font-size: rem(14);
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.04em;
    color: #222;
    background-color: var(--color-white);
    border: solid 1px var(--color-black);

    .icon_chevronDown {
      position: absolute;
      z-index: 2;
      top: 14px;
      left: 20px;
      display: block;
      width: 24px;
      height: 24px;
    }

    &[data-expanded="true"] {
      .icon_chevronDown {
        rotate: 180deg
      }
    }
  }
}

.bl_accordion_target {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    inset: 100px 0 -3px;
    pointer-events: none;
    background-image: linear-gradient(
      to top,
      #fff 0, #fff 3px, transparent 100%
    );
    opacity: 0;
    transition: opacity 0.3s $linear;

    @include breakpoint-up(md) {
      top: 50px;
    }
  }

  &[data-hidden="true"] {

    &::before {
      opacity: 1;
    }
  }
}