@use "@styles/settings" as *;

.un_summary {
  padding-inline: 20px;
  
  @include breakpoint-up(md) {
    padding-inline: 30px 38px;
    max-width: calc(100% - (260px + lq(45)));
  }
}

.un_summary_inner {
  padding: 60px 0 80px;
  background-color: var(--color-white);
  border-radius: 4px;

  @include breakpoint-up(md) {
    padding: 40px 50px;
    border-radius: 50px;
  }
}

.un_summaryHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include breakpoint-up(md) {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
}

.un_summaryHead_logo {
  width: 114px;

  @include breakpoint-up(md) {
    position: relative;
    margin-right: 24px;

    &::before {
      content: "";
      position: absolute;
      inset: 0 -24px 0 auto;
      width: 1px;
      height: 100%;
      background-color: var(--color-black);
    }
  }

  img {
    border-radius: 4px;
  }
}

.un_summaryHead_shoulder {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-inline: auto;
  padding-top: 20px;
  width: fit-content;
  border-top: solid 1px #dadada;

  @include breakpoint-up(md) {
    margin-inline: 0;
    padding-top: 0;
    height: 100%;
    border-top: none;
  }
}

.un_summaryHead_shoulder_series {
  padding: 5px 10px;
  height: 30px;
  font-size: rem(14);
  font-weight: 500;
  background-color: #f6f6f6;
  border-radius: 4px;

  @include breakpoint-up(md) {
    height: 32px;
    font-size: rem(16);
  }
}

.un_summaryHead_shoulder_and {
  font-size: rem(14);
  font-weight: 500;

  @include breakpoint-up(md) {
    font-size: rem(16);
  }
}

.un_summary_heading {
  margin-top: 60px;
  padding-inline: 10px;
  font-size: rem(26);
  font-weight: 500;
  text-align: center;

  @include breakpoint-up(md) {
    margin-top: 30px;
    padding-inline: 0;
    font-size: rem(40);
  }
}

.un_summary_text {
  margin-top: 20px;
  padding-inline: 10px;
  font-size: rem(16);
  text-align: center;

  @include breakpoint-up(md) {
    margin-top: 30px;
    padding-inline: 0;
    font-size: rem(22);
  }
}

.un_summary_img {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 440px;

  @include breakpoint-up(md) {
    margin-top: 10px;
    height: auto;
  }

  img {
    object-fit: cover;
    border-radius: 4px;

    @include breakpoint-down(sm) {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      transform: translateX(-50%);
    }

    @include breakpoint-up(md) {
      aspect-ratio: 974/593;
    }
  }
}

.un_summary_content {
  margin-top: 30px;
  padding-inline: 10px;
  text-align: center;

  @include breakpoint-up(md) {
    margin-top: 80px;
    padding-inline: 0;
  }

  :first-child {
    margin-top: 0;
  }

  h2 {
    margin-top: 30px;
    font-size: rem(18);
    font-weight: 600;
    line-height: 1.5;

    @include breakpoint-up(md) {
      margin-top: 50px;
      font-size: rem(24);
    }
  }

  p {
    margin-top: 30px;
    font-size: rem(14);
    line-height: 1.8;

    @include breakpoint-up(md) {
      font-size: rem(18);
    }
  }
}

.un_summary_btn {
  margin-top: 24px;
}