@use "@styles/settings" as *;

.un_seriesLatest {
  padding: 80px 0 120px;
}
.un_seriesLatest_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.un_seriesLatest__list {
  margin-top: 60px;
  display: grid;
  gap: 20px;
}
.un_seriesLatest__list .un_recentlyCard {
  background-color: #fff;
  margin-top: 0;
  padding: 60px 40px;
  grid-template-columns: clamp(200px, 25vw, 360px) 1fr;
}
.un_seriesLatest__list .un_recentlyCard_thumb {
  height: 240px;
}
.un_seriesLatest__list .un_recentlyCard_title {
  display: inline-block;
  background-color: #f6f6f6;
  font-size: 14px;
  line-height: 1;
  margin: 8px 0 12px;
  padding: 6px 8px;
  border-radius: 4px;
}
.un_seriesLatest__list .un_recentlyCard_summary {
  font-size: 24px;
  font-weight: 500;
  margin-top: 0;
}
.un_seriesLatest__list .un_recentlyCard_btm {
  margin-top: 20px;
}
.un_seriesLatest_title_jp {
  font-size: 30px;
}
.un_seriesLatest_title_en {
  font-size: 18px;
}

@media (width < 768px) {
    .un_seriesLatest_title {
    flex-direction: column;
    align-items: flex-start;
  }
  .un_seriesLatest_title_jp {
    font-size: 24px;
  }
  .un_seriesLatest_title_en {
    font-size: 14px;
  }
}