@use "@styles/settings" as *;

.bl_download {
  display: flex;
  align-items: center;
  padding: 4px 4px 3px;
  gap: 3px;
  width: fit-content;
  height: 26px;
  font-size: rem(12);
  font-weight: 700;
  letter-spacing: 0.04em;
  background-color: var(--color-white);

  &::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-image: url('/assets/icon/icon_file.svg');
    background-repeat: no-repeat;
    background-size: 18px 18px;
  }

  &[data-file="PDF"]::before {
    background-image: url('/assets/icon/icon_pdf.svg');
  }

  &[data-file="CSV"]::before {
    background-image: url('/assets/icon/icon_csv.svg');
  }
}