@use "@styles/settings" as *;

.bl_viewmore {
  display: flex;
  justify-content: center;

  > button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 20px 17px 50px;
    width: fit-content;
    font-size: rem(14);
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.04em;
    color: #222;
    border: solid 1px var(--color-black);

    .icon_chevronDown {
      position: absolute;
      z-index: 2;
      top: 14px;
      left: 20px;
      display: block;
      width: 24px;
      height: 24px;
    }

    &[data-open="true"] {
      .icon_chevronDown {
        rotate: 180deg
      }
    }
  }
}