@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@100;300;400;500;600&display=swap";
.un_reportList{padding-block:40px 80px}@media (min-width:768px){.un_reportList{padding-block:0 80px}}.un_reportList_nd{margin-top:20px}.un_reportList_list{margin-top:30px}
