@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@100;400;500;600&display=swap";
.un_reportList{padding-top:50px}@media (min-width:768px){.un_reportList{padding-bottom:160px}}.un_reportList_list{margin-top:30px}
