@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@100;300;400;500;600&display=swap";
.un_columnsList{margin-top:50px;padding-bottom:80px}@media (min-width:768px){.un_columnsList{padding-bottom:160px}}.un_columnsList_list{margin-top:30px}
