@use "@styles/settings" as *;

.bl_sliderWrap {
  position: relative;

  .swiper {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      inset: 0 -2px 0 auto;
      width: 203px;
      background-size: 100%;
      background-repeat: no-repeat;
      pointer-events: none;
    }

    &.is_scrolled {
      &::before {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.bl_sliderWrap_arrows {
  position: absolute;
  z-index: 3;
  inset: 0;
  pointer-events: none;
}

.bl_sliderWrap_prev,
.bl_sliderWrap_next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  margin-block: auto;
  width: 60px;
  height: 60px;
  background-color: var(--color-white);
  border-radius: 50%;
  border: solid 1px var(--color-black);
  pointer-events: auto;

  svg {
    pointer-events: none;
  }
}

.bl_sliderWrap_prev {
  left: -24px;
}

.bl_sliderWrap_next {
  right: -24px;
}