@use "@styles/settings" as *;

.un_columnsList {
  margin-top: 50px;
  padding-bottom: 80px;

  @include breakpoint-up(md) {
    padding-bottom: 160px;
  }
}

.un_columnsList_list {
  margin-top: 30px;
}